/* Container styling */
.container {
    width: 99%;
    background-color: white;
    padding: 16px 4px;
}


.title {
    color: #FF4500; 
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
.paragraph{
    padding: 10px 0px;
}


.grid-container {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}



.image {
    width: 550px;
    margin: 16px auto;
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.subheading {
    color: #00df9a; 
    font-weight: bold;
}

.main-heading {
    font-weight: bold;
    padding: 8px 0;
}

@media (min-width: 768px) {
    .main-heading {
        font-size: 2.5rem;
    }
}

@media (min-width: 640px) {
    .main-heading {
        font-size: 2rem;
    }
}

.main-heading {
    font-size: 2rem;
}

.paragraph {
    margin: 0;
}


.button {
    background-color: #df2900;
    color: #000000;
    width: 200px;
border: 1px solid white;
    border-radius:20px ;
    font-weight: 400;
    font-size: 20px;
    margin: 24px auto;
    padding: 12px 0;
}

@media (min-width: 768px) {
    .button {
        margin: 24px 0;
    }
}
